@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
  --bg: #121212;
  --border: #3f3f3f;
  --primary: #ff7d4a;
  --accent: #ff5722;
  --secondary: #f8bba3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--bg);
  font-family: 'Itim', cursive;
}

h1 {
  padding-top: 15px;
  font-size: 50px;
  background: linear-gradient(90deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

gameboard {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.board-cell {
  border-radius: 15px;
  border: 1px solid var(--border);
  height: 4.5rem;
  width: 4.5rem;

  /* markers */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-family: 'Pangolin', cursive;
  padding-bottom: 8px;
}

.x-mark {
  color: var(--accent);
}

.o-mark {
  color: var(--primary);
}

dialog {
  text-align: center;
  z-index: 9999;
  margin: auto;
  padding: 20px 30px;
  border: 0px;
  border-radius: 20px;
  font-size: 45px;
  background-color: var(--secondary);
}

dialog button {
  border: 0px;
  font-size: 20px;
  background-color: var(--bg);
  padding: 8px 20px;
  padding-bottom: 10px;
  border-radius: 15px;
  font-family: inherit;
  margin-top: auto;
  color: var(--secondary);
  cursor: pointer;
  border: 2px solid var(--secondary);
}

.for-winner button:hover {
  color: var(--bg);
  background-color: var(--secondary);
  border: 2px solid var(--bg);
}

.x-or-o {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.x-or-o p {
  grid-column: span 2;
}

.x-or-o button {
  height: 80px;
  width: 80px;
}

.x-or-o button:hover {
  font-size: 45px;
  transition: 0.1s ease-in;
  padding-bottom: 10px;
  transition: 0.1s ease-in;
  margin-bottom: 5px;
  border-radius: 30px;
}

.x-or-o .x:hover {
  background-color: var(--accent);
  color: var(--bg);
}

.x-or-o .o:hover {
  background-color: var(--primary);
  color: var(--bg);
}

.x-or-o div {
  font-size: 20px;
}

.current-turn {
  margin-bottom: auto;
  font-size: 80px;
  color: var(--accent);
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: 60px;
  }

  .board-cell {
    height: 7rem;
    width: 7rem;
  }
}

footer {
  background: linear-gradient(90deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 13px;
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding-bottom: 1%;
}

@media screen and (min-width: 600px) {
  .board-cell {
    font-size: 200px;
    padding-bottom: 20px;

    height: 12rem;
    width: 12rem;
  }

  gameboard {
    grid-gap: 20px;
  }

  .for-winner {
    padding: 40px 60px;
  }

  .current-turn {
    font-size: 110px;
  }
}
